.astro/
.husky/
.DS_Store
.git
.gitignore
CHANGELOG.md
dist/
node_modules/
README.md
notes.txt
db.sqlite3
.vscode/
src/__tests__/
local/
.github/
prod_run.sh
local_build.sh
prod.env
.env
drizzle.config.ts
vitest.config.ts
vitest.setup.ts